<body>
    <script>
        {{ GLOBALS }}
    </script>
    <script>
        {% include "index.js" %}
    </script>

    <h1>Keith Stellyes' Page</h1>
    <p>This page as of July 20, 2025 is under construction, mind the dust :)</p>
    <hr>
    <div id="content"></div>
</body>
