<head>
    <style>
        {% include "style.css" %}
    </style>
</head>
<body>
    <script>
        {{ GLOBALS }}
    </script>
    <script>
        {% include "index.js" %}
    </script>

    <div id="content"></div>
</body>
