.svgButtonCollection > div {
        border:1px solid black;
    width: var(--btn-width);
    height: 300px;
}

.svgButtonCollection > div > button {
    width: 100%;
    height: 100%;
}

.svgButtonCollection {
--btn-width: 250px;

    display: grid;
    grid-template-columns: repeat(auto-fill, calc(var(--btn-width) + 5px));
    width: 90%;
}

#content {
    border: 1px solid purple;
}
